body {
    background-color: rgb(74, 132, 146);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.panel {
    color:rgb(197,53,50,.7);
    font-size: 70%;
}

.panel > .panel-heading {
    background-image:none;
    background-color:rgb(197,53,50,.7);
    color: white;
    border-color:darkgrays;
    font-size: 70%;
    
}
.panel-title {
    font-size: medium;
}
.panel-body {
    background-color: rgb(238, 238, 238);
}

/* img #bacteria {
    margin-bottom: -25px;
    width: 20%;
    max-width: 85px;
    min-width: 60px;
    height: auto;
    margin-left: 70%;
} */

select:active, select:hover {
    outline-color:rgb(197,53,50,.7);

}
:focus {
    outline: rgb(197,53,50,.7) auto 1px;
}

/* Container holding the image and the text */
#Microbes {
    position: relative;
    color: rgb(219, 230, 233);
    padding-bottom: 10px;
    padding-left:0%;
    padding-right:0%;
    overflow: hidden;
    margin-bottom:20px;
}

#Microbes img {
    margin: -15% 0;
    opacity: 0.8;
}

.res-circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    color: rgb(219, 230, 233);;
    background: rgb(197,53,50,.7);
    position:absolute;
    top: 15%;
    left:32%;
    margin: -50px 0 0 75px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    /* box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125); */
}



#headerText {
    line-height: 55px;
    font-size: 50px;
    text-align: center;
    margin: 50px 15px 10px;
    font-size:2.7vw;
    
} 
#sub-header {
    line-height: 25px;
    font-size: 17px;
    text-align: center;
    display: block;
    font-size:1.3vw;
}



/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
/* @media screen and (max-width: 600px) {
    .res-circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position:absolute;
    margin-left:-55px;
    }
    #headerText {
    line-height: 20px;
    text-align: center;
    margin-left: 10px;
    margin-top:45px;
    margin-bottom:0px;
    font-size: 5.8vw;
    
    }
    #sub-header {
        line-height: 10px;
        font-size: 17px;
        text-align: center;
        display: block;
        font-size:2.8vw;
        margin-left: 0px;
    }
    img #bacteria {
        margin-bottom: -5px;
        width: 10%;
        max-width: 40px;

        height: auto;
        margin-left: 70%;
    }
    img #Microbes {
        margin-bottom: -5px;
        max-width: 100%;
        height: auto;
        margin-left: 150px;
    }

}  */

@media screen and (max-width: 768px) {
    .res-circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position:absolute;
    margin-left:-10px;
    }
    #headerText {
    line-height: 38px;
    text-align: center;
    margin-left: 5px;
    margin-top:30px;
    margin-bottom:0px;
    font-size: 4.3vw;
    
    }
    #sub-header {
        line-height: 15px;
        font-size: 17px;
        text-align: center;
        display: block;
        font-size:1.8vw;
        margin-left: 0px;
    }
    img #bacteria {
        margin-bottom: -5px;
        width: 20px;
        min-width: 20px;
        height: auto;
        margin-left: 7px;
    }
    img #Microbes {
        margin-bottom: -5px;
        max-width: 100%;
        height: auto;
        margin-left: 50px;
    }

    .panel > .panel-heading {
        background-image:none;
        background-color:rgb(197,53,50,.7);
        color: white;
        border-color:darkgrays;
        font-size: 40%;
        
    }

} 